# Example Env Variables

# Environment
NODE_ENV=development

# Application Port
PORT=3000

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root_password
DB_NAME=my_database

# MongoDB
MONGO_URI=mongodb://localhost:27017/mydatabase

# JWT Secret
JWT_SECRET=your_jwt_secret